<!-- 底部导航栏组件 -->
<div class="tab-bar">
  <a href="../pages/home.html" class="tab-item active">
    <i class="fas fa-home tab-icon"></i>
    <span>首页</span>
  </a>
  <a href="../pages/discover.html" class="tab-item">
    <i class="fas fa-compass tab-icon"></i>
    <span>发现</span>
  </a>
  <a href="../pages/search.html" class="tab-item">
    <i class="fas fa-search tab-icon"></i>
    <span>搜索</span>
  </a>
  <a href="../pages/profile.html" class="tab-item">
    <i class="fas fa-user tab-icon"></i>
    <span>我的</span>
  </a>
</div> 